/*
---
name: fadeOutLeftBig
category: Animations
---
```example.html
<svg class="icon animated fadeOutLeftBig infinite" role="presentation">
  <use xlink:href="../svg/sprite.svg#twitter"></use>
</svg>
```
*/
@mixin fadeOutLeftBig {
  @keyframes fadeOutLeftBig {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(-2000px, 0, 0);
    }
  }

  animation-name: fadeOutLeftBig;
}
