/*
---
name: fadeInDown
category: Animations
---
```example.html
<svg class="icon animated fadeInDown infinite" role="presentation">
  <use xlink:href="../svg/sprite.svg#twitter"></use>
</svg>
```
*/
@mixin fadeInDown {
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  animation-name: fadeInDown;
}
