/*
---
name: fadeInUpBig
category: Animations
---
```example.html
<svg class="icon animated fadeInUpBig infinite" role="presentation">
  <use xlink:href="../svg/sprite.svg#twitter"></use>
</svg>
```
*/
@mixin fadeInUpBig {
  @keyframes fadeInUpBig {
    from {
      opacity: 0;
      transform: translate3d(0, 2000px, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  animation-name: fadeInUpBig;
}
