/*
---
name: fadeInRightBig
category: Animations
---
```example.html
<svg class="icon animated fadeInRightBig infinite" role="presentation">
  <use xlink:href="../svg/sprite.svg#twitter"></use>
</svg>
```
*/
@mixin fadeInRightBig {
  @keyframes fadeInRightBig {
    from {
      opacity: 0;
      transform: translate3d(2000px, 0, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  animation-name: fadeInRightBig;
}
