/*
---
name: fadeOutLeft
category: Animations
---
```example.html
<svg class="icon animated fadeOutLeft infinite" role="presentation">
  <use xlink:href="../svg/sprite.svg#twitter"></use>
</svg>
```
*/
@mixin fadeOutLeft {
  @keyframes fadeOutLeft {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  }

  animation-name: fadeOutLeft;
}
