/*
---
name: rotateOutDownRight
category: Animations
---
```example.html
<svg class="icon animated rotateOutDownRight infinite" role="presentation">
  <use xlink:href="../svg/sprite.svg#twitter"></use>
</svg>
```
*/
@mixin rotateOutDownRight() {
  @keyframes rotateOutDownRight {
    from {
      transform-origin: right bottom;
      opacity: 1;
    }

    to {
      transform-origin: right bottom;
      transform: rotate3d(0, 0, 1, -45deg);
      opacity: 0;
    }
  }

  animation-name: rotateOutDownRight;
}
