/*
---
name: rotateOut
category: Animations
---
```example.html
<svg class="icon animated rotateOut infinite" role="presentation">
  <use xlink:href="../svg/sprite.svg#twitter"></use>
</svg>
```
*/
@mixin rotateOut() {
  @keyframes rotateOut {
    from {
      transform-origin: center;
      opacity: 1;
    }

    to {
      transform-origin: center;
      transform: rotate3d(0, 0, 1, 200deg);
      opacity: 0;
    }
  }

  animation-name: rotateOut;
}
