/*
---
name: slideOutUp
category: Animations
---
```example.html
<svg class="icon animated slideOutUp infinite" role="presentation">
  <use xlink:href="../svg/sprite.svg#twitter"></use>
</svg>
```
*/
@mixin slideOutUp {
  @keyframes slideOutUp {
    from {
      transform: translate3d(0, 0, 0);
    }

    to {
      visibility: hidden;
      transform: translate3d(0, -100%, 0);
    }
  }

  animation-name: slideOutUp;
}
