/*
---
name: Wobble
category: Animations
---
```example.html
<svg class="icon animated wobble infinite" role="presentation">
  <use xlink:href="../svg/sprite.svg#twitter"></use>
</svg>
```
*/
@mixin wobble() {
  @keyframes wobble {
    from {
      transform: none;
    }

    15% {
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
      transform: none;
    }
  }

  animation-name: wobble;
}
