* {
  box-sizing: border-box;
}
body {
  background: #222;
  font-weight: 200;
  padding-top: 80px;
  color: #f3f3f3;
  position: relative;
  margin: 0;
}

#root {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  contain: layout size style;
  overflow: hidden;
  z-index: 0;
}

.app {
  display: flex;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

input[type='radio'] {
  display: none;
}
input:checked + label.step {
  //background: var(--color-danger);
  animation: background 15s infinite;
}

.steps,
.features {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
  padding: 0px;
}

.steps {
  justify-content: flex-start;
}

.step {
  max-width: 30%;
  display: inline-block;
  margin-right: 15px;
  position: relative;
}

.step--100 {
  max-width: 100%;
}

img.screenshot {
  max-width: 100%;
  border-radius: 10px;
}
@media (max-width: 1000px) {
  img.screenshot {
    max-width: 100%;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-items: center;
  justify-content: space-between;
  align-content: stretch;
  max-width: 880px;
  margin: 0 auto;
}

figure.feature {
  background: #18181c;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  margin-top: 0;
}

.step--device {
  background: #18181c;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.step--device .step-img {
  height: 68px;
}

.step--bezel,
.step--snes {
  border-radius: 10px;
  max-width: calc(50% - 15px);
  text-align: center;
  background: #18181c;
  text-align: center;
  border-radius: 10px;
}
.step--bezel figcaption,
.step--snes figcaption {
  padding: 5px 0;
  padding-top: 0px;
}

.step--snes {
  max-width: calc(30% - 15px);
}

.step--device img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100px;
}

@media (max-width: 1000px) {
  figure.feature {
    width: 100%;
    display: block;
  }
}

.feature.feature--hero {
  max-width: 100%;
  flex-basis: 100%;
}
.feature__list {
  padding-left: 20px;
}
.feature__list li {
  margin-bottom: 10px;
  margin-left: 0;
}
.feature__desc {
  text-align: left;
  display: inline-block;
}
.feature__img {
  margin-right: 20px;
  max-width: 100px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .feature__img {
    margin-right: 0px;
  }
}

header {
  padding: 20px;
}
header .h2 {
  margin-bottom: 0;
}

main {
  padding: 20px;
  padding-top: 0;
  flex: 1;
  overflow: scroll;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

footer .button + .button {
  margin-left: 20px;
}
aside {
  width: 15%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
aside img {
  object-fit: cover;
  height: 100%;
  width: 220%;
  opacity: 0.6;
  max-width: 100%;
}

/* [role='tablist'] {
  display: none;
  height: 0px;
} */

ul li {
  list-style: none;
  margin-bottom: 16px;
}

ul li:last-child {
  margin-bottom: 0;
}

.list-two-cols {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 220px;
}

.folder-structure {
  padding-left: 10px;
}
.folder-structure ul {
  padding-left: 0px;
}
.folder-structure li {
  margin-bottom: 5px;
}
.folder-structure li:last-child {
  margin-bottom: 0px;
}
