.btn-simple {
  --btn-simple-padding: 0.8em 1.4em 0.82em 1.8em;
  --btn-simple-text-size: 1.7rem;
  --btn-simple-mt: 10px;
  --btn-simple-border-radius: 30em;
  --btn-simple-transition-in: 0.2s;
  --btn-simple-transition-out: 0.2s;
  --btn-simple-padding-xs: 4px 5px;
  --btn-simple-text-size-xs: 10px;
  --btn-simple-padding-sm: 6px 10px;
  --btn-simple-text-size-sm: 12px;
  --btn-simple-padding-lg: 10px 18px;
  --btn-simple-text-size-lg: 18px;
  --btn-group-separation: 18px;
}
//@include generate-btn-simple(var(--name, $color, $bg, $color-hover, $bg-hover, $bg-active, $color-disabled, $bg-disabled));

@include generate-btn-simple(
  1,
  white,
  var(--white),
  white,
  var(--blue2),
  var(--blue2),
  white,
  var(--color-disabled)
);
@include generate-btn-simple(
  2,
  white,
  var(--grey2),
  white,
  var(--grey3),
  var(--grey3),
  white,
  var(--color-disabled)
);

@include generate-btn-simple(
  3,
  #262626,
  white,
  #262626,
  white,
  white,
  white,
  var(--color-disabled)
);

@keyframes background {
  0% {
    background-color: #f99;
  }
  33% {
    background-color: #5bf;
  }
  67% {
    background-color: #99f;
  }
  100% {
    background-color: #f99;
  }
}

.btn-simple {
  font-weight: normal;

  &--1 {
    animation: background 15s infinite;
  }
  &:disabled {
    animation: none;
    opacity: 0.8;
    cursor: not-allowed;
  }
  & + .btn-simple {
    margin-left: 20px;
  }
  svg {
    width: 22px;
    height: 22px;
    vertical-align: text-top;
  }
}
